{% extends "en/layout.html" %}

{% block title %}Edit Article{% endblock %}

{% block content %}
<h1>Edit Article</h1>
<form method="POST" action="{{ url_for('main.edit_article', post_id=post.id) }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.title.label }}
        {{ form.title(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.gregorian_death_date.label }}
        {{ form.gregorian_death_date(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.family_id.label }}
        {{ form.family_id(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.new_family_name.label }}
        {{ form.new_family_name(class="form-control") }}
    </div>
    <div id="milestones">
        <!-- Existing milestones will be displayed here -->
        {% for milestone in form.milestones %}
        <div class="form-group milestone-item" draggable="true" ondragstart="dragStart(event)" ondragover="dragOver(event)" ondrop="drop(event)">
            {{ milestone.order(class="form-control milestone-order", type="hidden") }}
            <label>Milestone Title</label>
            {{ milestone.title(class="form-control") }}
            <div class="form-group">
                {{ milestone.content.label }}
                {{ milestone.content(class="form-control", rows=5) }}
            </div>
            <div class="form-group">
                {{ milestone.image.label }}
                {{ milestone.image(class="form-control-file") }}
            </div>
        </div>
        {% endfor %}
    </div>
    <button type="button" class="btn btn-secondary" onclick="addMilestone()">Add Milestone</button>
    <button type="button" class="btn btn-secondary" onclick="window.history.back()">Cancel</button>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>

<!-- Include the external JavaScript file -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
