{% extends "en/layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to the Yizkor site</h1>
<p>Our site provides insightful articles and creative content on family members who passed. Hopefully it can be a collaborative project for members to add stories to individuals on this site. </p>

<h2>How to Use the Site</h2>
<ul>
    <li>Browse our Articles: Explore our articles on different family members. Click on the "Articles" tab in the navigation menu to get started. </li>
    <li>Search for Content: Use the search bar at the top of the page to find specific articles or topics of interest.</li>
    <li>Create an Account: Sign up to become a member of our community. Register using the "Login/Register" link in the navigation menu.</li>
    <li>Contribute: If you are an author, you can create and share your own articles. Log in and click on "Create Article" in the "Articles" dropdown menu.</li>
    <li>Contact Us: If you have any questions or feedback, feel free to reach out to us via the "Contact" tab in the navigation menu.</li>
</ul>

<p>We hope you enjoy your time on our site and find the content valuable and engaging. Happy browsing!</p>
{% endblock %}
