{% extends "layout.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>
<p class="author-date">Author: {{ post.author.username }} | Date: {{ post.publication_date.strftime('%Y-%m-%d') }}</p>

{% for milestone in post.milestones %}
<section>
    <h2>{{ milestone.title }}</h2>
    <hr>
    {% if milestone.image_path %}
    <img src="{{ url_for('static', filename=milestone.image_path) }}" alt="{{ milestone.title }}">
    {% endif %}
    <p>{{ milestone.content }}</p>
</section>
{% endfor %}
{% endblock %}
