{% extends "layout.html" %}

{% block title %}Create Article{% endblock %}

{% block content %}
<h1>Create Article</h1>
<form method="POST" action="{{ url_for('main.create_article') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.title.label }}
        {{ form.title(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.early_life.label }}
        {{ form.early_life(class="form-control", rows=5) }}
    </div>
    <div class="form-group">
        {{ form.life.label }}
        {{ form.life(class="form-control", rows=5) }}
    </div>
    <div class="form-group">
        {{ form.death.label }}
        {{ form.death(class="form-control", rows=5) }}
    </div>
    <div class="form-group"> 
        {{ form.early_life_he.label }} 
        {{ form.early_life_he(class="form-control", rows=5) }} 
    </div> 
    <div class="form-group"> 
        {{ form.life_he.label }} 
        {{ form.life_he(class="form-control", rows=5) }} 
    </div> 
    <div class="form-group"> 
        {{ form.death_he.label }} 
        {{ form.death_he(class="form-control", rows=5) }} 
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}
