<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Yizkor{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/candlelogo.png') }}" alt="Yizkor Logo" style="width:75px; height:auto;">
        {% if current_user.is_authenticated %}
        <span class="navbar-text">
            <a class="navbar-text" href="{{ url_for('main.user') }}">
                Welcome, {{ current_user.username }}
            </a>
        </span>
        {% endif %}
        <nav>
            <ul>
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li class="dropdown">
                    <a href="{{ url_for('main.articles') }}">Articles</a>
                    {% if current_user.is_authenticated and current_user.role == 'author' %}
                    <div class="dropdown-content">
                        <a href="{{ url_for('main.create_article') }}">Create Article</a>
                    </div>
                    {% endif %}
                </li>
                <li><a href="{{ url_for('main.about') }}">About</a></li>
                <li><a href="{{ url_for('main.contact') }}">Contact</a></li>
                <li class="dropdown">
                    <a href="#">Login/Register</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('auth.login') }}">Login</a>
                        <a href="{{ url_for('auth.register') }}">Register</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="search-bar">
            <form class="form-inline my-2 my-lg-0" method="GET" action="{{ url_for('main.search') }}">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="contact">Contact Information</div>
        <div class="social-media">
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
        </div>
        <div class="copyright">© 2025 Your Website</div>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
