{% extends "he/layout.html" %}

{% block title %}צור מאמר{% endblock %}

{% block content %}
<h1>צור מאמר</h1>
<form method="POST" action="{{ url_for('main.create_article_he') }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.title_he.label }}
        {{ form.title_he(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.gregorian_death_date.label }}
        {{ form.gregorian_death_date(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.family_id.label }}
        {{ form.family_id(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.new_family_name_he.label }}
        {{ form.new_family_name_he(class="form-control") }}
    </div>
    <div id="milestones">
        {% for milestone in form.milestones %}
        <div class="form-group">
            {{ milestone.order(class="form-control milestone-order", type="hidden") }}
            {{ milestone.title_he.label }}
            {{ milestone.title_he(class="form-control") }}
        </div>
        <div class="form-group">
            {{ milestone.content_he.label }}
            {{ milestone.content_he(class="form-control", rows=5) }}
        </div>
        <div class="form-group">
            {{ milestone.image_he.label }}
            {{ milestone.image_he(class="form-control-file") }}
        </div>
        {% endfor %}
    </div>
    <button type="button" onclick="addMilestone()">הוסף אבן דרך</button>
    <div class="form-group">
       <br /> {{ form.submit_he(class="btn btn-primary") }}
    </div>
</form>

<script>
function addMilestone() {
    var container = document.getElementById("milestones");
    var num = container.children.length / 3; // Number of milestones currently
    var newMilestone = `
        <div class="form-group">
            <label for="milestones-${num}-title">שם אבן דרך</label>
            <input type="text" name="milestones-${num}-title" id="milestones-${num}-title" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="milestones-${num}-content">תוֹכֶן</label>
            <textarea name="milestones-${num}-content" id="milestones-${num}-content" class="form-control" rows="5" required></textarea>
        </div>
        <div class="form-group">
            <label for="milestones-${num}-image">תְמוּנָה</label>
            <input type="file" name="milestones-${num}-image" id="milestones-${num}-image" class="form-control-file">
        </div>`;
    container.insertAdjacentHTML('beforeend', newMilestone);
}
</script>
{% endblock %}
