{% extends "he/layout.html" %}

{% block title %}דף הבית{% endblock %}

{% block content %}
<h1>ברוכים הבאים לאתר יזכור</h1>
<p>האתר שלנו מספק מאמרים מלאי תובנות ותוכן יצירתי על בני משפחה שעברו. אני מקווה שזה יכול להיות פרויקט שיתופי לחברים להוסיף סיפורים לאנשים פרטיים באתר זה. </p>

<h2>כיצד להשתמש באתר</h2>
<ul>
    <li>עיין במאמרים שלנו: חקור את המאמרים שלנו על בני משפחה שונים. לחץ על הכרטיסייה "מאמרים" בתפריט הניווט כדי להתחיל. </li>
    <li>חפש תוכן: השתמש בסרגל החיפוש בחלק העליון של הדף כדי למצוא מאמרים או נושאים ספציפיים לעניין.</li>
    <li> צור חשבון: הירשם כדי להיות חבר בקהילה שלנו. הרשמה באמצעות הקישור "התחבר/הרשמה" בתפריט הניווט.</li>
    <li>תרומה: אם אתה מחבר, אתה יכול ליצור ולשתף מאמרים משלך. היכנס ולחץ על "צור מאמר" בתפריט הנפתח "מאמרים"</li>
    <li> צור קשר: אם יש לך שאלות או משוב, אל תהסס לפנות אלינו דרך הכרטיסייה "צור קשר" בתפריט הניווט.</li>
</ul>

<p>אנו מקווים שתיהנו מזמנכם באתר שלנו ותמצאו את התוכן בעל ערך ומרתק. גלישה מהנה!</p>
{% endblock %}
